<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>登录页面</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/dili_style.css">
</head>
<body>
<div class="protocol container_wrapper">
    <div class="attention">
        <div class="attention_paragraph paragraph_one">
            <span>【注意】</span>的狸甄品有责任提醒您，请仔细阅读以下全部内容。如果您不同意本协议的任一或全部条款内容，请不要以确认的形式（包括但不限于：勾选、点击）选择“同意接受”或使用本协议项下服务。当您确认接受本协议或开始使用本协议项下的服务时，即表示用户与的狸甄品（上海的狸网络科技有限公司）已达成协议关系，并自愿接受并遵守的狸甄品服务的所有服务协议及相关之子协议、管理规范等。我们可能会不定期修改《用户协议》内容，并会在客户端上更新此份《用户协议》。因此，建议您每次浏览此份《用户协议》，并确认您同意并接受上述声明。
        </div>
        <div class="attention_paragraph paragraph_two">
            的狸甄品客户端将不定期更新应用程序。针对部分促销或返现等优惠功能与其它服务内容，仅适用于最新版本的的狸甄品应用程序，旧版本应用程序将无法支持并提供上述服务与功能。建议您及时查看下载并保持更新，以确保能获得更好的用户体验。
            我们会尽力将的狸甄品客户端上的信息更新，以符合现行服务的一切做法，但请不要假设的狸甄品客户端上的一切信息都是最新的，或是的狸客户端登载的一切对外发布讯息都处于最新版本的状态。
        </div>
        <div class="attention_paragraph paragraph_three">
            上述的狸甄品为上海的狸网络科技有限公司合法注册的品牌名称。
        </div>
    </div>
    <div class="notice">
        <div class="notice_title">账户安全提示</div>
        <div class="notice_content">
            互联网账号存在被盗风险。为了保障您的账号及资金安全，请务必妥善并审慎保管您的移动设备及个人账号。 的狸甄品强烈建议您对所持有的移动设备，进行非简易密码或指纹验证的设置，最大化程度来确保您的个人信息与消费安全。
        </div>
    </div>
    <!--<div class="protocol_lists">-->
        <!--<div class="list_group">-->
            <!--<div class="group_title">一、用户注册</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">1.1 注册资格</div>-->
                <!--<div class="items_content">用户承诺：用户具有完全民事权利能力和行为能力或虽不具有完全民事权利能力和行为能力但经其法定代理人同意并由其法定代理人代理注册及应用的狸甄品服务。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">1.2 注册目的</div>-->
                <!--<div class="items_content">-->
                    <!--用户承诺：用户进行用户注册并非出于违反法律法规或破坏的狸甄品网络在线交易秩序的目的。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">1.3 注册资格</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--1.3.1 用户同意根据的狸甄品用户注册页面的要求提供有效电子邮箱、所在城市等信息，设置的狸甄品账号及密码，用户应确保所提供全部信息的真实性、完整性和准确性。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--1.3.2用户合法、完整并有效提供注册所需信息的，有权获得的狸账甄品账号和密码，的狸甄品账号和密码用于用户在的狸甄品进行会员登录。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--1.3.3用户获得的狸甄品账号及密码时视为用户注册成功，用户同意接收的狸甄品发送的与的狸甄品网站管理、运营相关的电子邮件和/或短消息。-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="list_group">-->
            <!--<div class="group_title">二、用户服务</div>-->
            <!--<div class="group_desc">-->
                <!--的狸甄品为用户通过的狸甄品网站（含的狸甄品网站移动客户端及其他登录客户端）进行网络在线交易活动提供网络交易平台服务，目前的狸对用户提供的的狸网络交易平台服务为免费服务，但的狸甄品保留未来对的狸甄品网络交易平台服务收取服务费用的权利。-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">2.1 服务内容</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>2.1.1 </span>的狸甄品网站上的商品和服务由的狸甄品直接销售或提供，用户有权在的狸甄品浏览我们提供的商品/服务信息、达成交易意向并进行交易、对购买的商品和服务进行评价。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>2.1.2 </span>用户有权在的狸甄品查看其的狸甄品会员账号下的信息，有权应用的狸甄品提供的功能进行操作。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>2.1.3 </span>用户有权按照的狸甄品发布的活动规则参与的狸组织的网站活动。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>2.1.4 </span>的狸甄品承诺为用户提供的其他服务。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>2.1.5 </span>您应自行准备如下设备并承担如下开支：-->
                    <!--</div>-->
                    <!--<div class="subboxs_content_details">-->
                        <!--(1) 上网设备：包括但不限于计算机、调制解调器或其他必备的上网装置；-->
                    <!--</div>-->
                    <!--<div class="subboxs_content_details">-->
                        <!--(2) 上网开支：包括但不限于网络接入费、手机流量费等费用。-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">2.2 服务规则</div>-->
                <!--<div class="sub_item_desc">-->
                    <!--用户承诺遵守下列的狸服务规则：-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>2.2.1 </span>用户应当遵守法律法规、规章、规范性文件及政策要求的规定，不得在的狸甄品或利用的狸甄品服务从事非法或其他损害的狸或第三方权益的活动，如发送或接收任何违法、违规、违反公序良俗、侵犯他人权益的信息，发送或接收传销材料或存在其他危害的信息或言论，未经的狸甄品授权使用或伪造的狸甄品电子邮件题头信息等。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>2.2.2 </span>-->
                        <!--用户应当遵守法律法规应当谨慎合理使用和妥善保管的狸账号及密码，对其的狸甄品账号和密码下进行的行为和发生的事件负责。当用户发现的狸的狸甄品账号被未经其授权的第三方使用或存在其他账号安全问题时应立即有效通知的狸甄品，要求的狸甄品暂停该的狸甄品账号的服务，并向公安机关报案。的狸甄品有权在合理时间内对用户的该等请求采取行动，但对采取行动前用户已经遭受的损失不承担任何责任。用户在未经的狸甄品同意的情况下不得将的狸甄品账号以赠与、借用、租用、转让或其他方式处分给他人。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>2.2.3 </span>-->
                        <!--用户通过的狸甄品进行在线交易时，应当遵守本协议“在线交易规则”的全部约定及的狸甄品发布的其他关于在线交易的服务条款和操作规则的全部规定。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>2.2.4 </span>-->
                        <!--用户在的狸甄品对商品/服务进行评价时应当根据实际情况如实进行评价。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>2.2.5 </span>-->
                        <!--的狸甄品发布的其他服务条款和操作规则。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>2.2.6 </span>-->
                        <!--部分市场营销活动只对特定人士开放参与。同一用户仅限参与或领取、使用奖品（包括但不限于所发放之礼券、礼品卡、消费点数、实体或虚拟奖品）一次。相同的手机号、设备号、支付账户、姓名、收货地址等多个信息内容一致或接近的，将视同为“同一用户”。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>2.2.7 </span>-->
                        <!--在上述市场营销活动或会员消费内，如参与、获取或使用过程中，出现违规行为（包括但不限于作弊领取、套现、虚假交易、套取礼券、贩售或转售礼券或礼品卡、贩售或转售交易消费码等情形），-->
                        <!--的狸甄品将取消您的获取或使用资格，并有权撤销违规交易，收回奖品（含已使用及未使用的）并终止您的会员资格。必要时将依据《中华人民共和国民法通则》第九十二条及第一百一十七条，追究法律责任；或依据司法《解释》规定，向相关主管机构举报其非法套现的行为。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>2.2.8 </span>-->
                        <!--上述“套现”的定义为：同一第三方支付渠道账号（包括但不限于支付宝、微信支付、招行一网通支付、Apple Pay-->
                        <!--等）或同一支付账号（包括但不限于信用/贷记卡、借记卡、支票、礼券等）累计或超过为5位以上（包含5位）的狸甄品注册用户账号支付消费款项；“套取礼券”的定义为：同一的狸甄品注册用户账号虚假邀请其它非真实的狸甄品注册用户账号，经查证其任一邀请注册用户账号之手机号、设备号、IP-->
                        <!--位置等信息，存在虚假、无法辨认、重复、非真实有效等情况者，超过5位以上（包含5位）。-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="list_group">-->
            <!--<div class="group_title">三、在线交易规则</div>-->
            <!--<div class="group_desc">-->
                <!--用户承诺在其进入的狸甄品消费，通过的狸甄品进行在线交易的过程中良好遵守如下规则：-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">3.1 商品信息</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.1.1 </span>-->
                        <!--的狸甄品网站上的商品信息随时有可能发生变动，的狸甄品对此不作特别通知。的狸甄品将尽合理的商业努力，使网站内展示的商品参数、说明、价格、库存等商品信息尽可能准确、详细，但由于网站上商品信息的数量极其庞大，且受互联网技术发展水平等因素的限制，网页显示的信息可能会有一定的滞后性或差错，对此情形您充分知悉并予以理解。如您发现商品信息错误的或有疑问的，请您不要提交订单，并在第一时间告诉的狸甄品。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.1.2 </span>-->
                        <!--为表述便利，商品和服务可统称为“商品”或“货物”。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.1.3 </span>-->
                        <!--除另有特别说明外，的狸甄品展示的商品的价格都为含税价格。送货运费需由您另行支付。当然，根据您选择的商品、价格、区域和送货方式不同，的狸甄品可能对运费进行适当减免-->
                        <!--（详见网站内的公告或说明）。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.1.4 </span>-->
                        <!--如果发生了意外情况，您提交订单后，由于供应商提价、税额变化或者由于网页信息错误等造成商品价格变化，您可以通知的狸甄品为您取消订单。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.1.5 </span>-->
                        <!--用户在的狸甄品浏览商品/服务的消费信息时，应当仔细阅读消费信息中包含的全部内容，包括但不限于商品/服务的名称、种类、数量、质量、价格、材质、规格、配送方式、退换货方式、退款条件、售后服务等内容，其中用户应特别注意商品/服务的退款条件等内容，用户完全接受消费信息中包含的全部内容后方可点击购买。-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">3.2 提交及确认订单</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.2.1 </span>-->
                        <!--当您下订单时，请您仔细确认所购商品的名称、价格、数量、型号、规格、尺寸、联系地址、电话、收货人等信息。收货人与您本人不一致的，收货人的行为和意思表示视为您的行为和意思表示，您应对收货人的行为及意思表示的法律后果承担连带责任。如果因为您填写的收货人联系电话、地址等信息错误，导致的狸甄品（或的狸甄品委托的配送公司）将货物交付给非您本意的收货人的，由此造成的损失需由您自行承担。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.2.2 </span>您同意的狸甄品网站上的订单成立规则：-->
                    <!--</div>-->
                    <!--<div class="subboxs_content_details">-->
                        <!--（1）的狸甄品网站中展示的商品以及其价格、规格等信息，其性质仅为要约邀请，是的狸甄品希望您向其发出要约的意思表示；-->
                    <!--</div>-->
                    <!--<div class="subboxs_content_details">-->
                        <!--（2）当您确定购买并成功提交订单时（您的订单内容应包含您希望购买的商品数量、价格及支付方式、收货人、联系方式、收货地址等信息），视为您向的狸甄品发出了购买订单商品的要约；-->
                    <!--</div>-->
                    <!--<div class="subboxs_content_details">-->
                        <!--（3）订单提交成功的信息是系统自动生成，并非的狸甄品对您要约的承诺。只有系统将订单信息反馈至的狸甄品，经的狸甄品确认能够满足您的订购需求并向您发货（以订单状态为准）时，方视为的狸甄品对您的要约作出承诺，此时您与的狸甄品之间就该已发货商品成立了合同关系；您可以通过查看系统显示的订单状态，了解您与的狸甄品之间的合同是否成立以及成立的时间。-->
                    <!--</div>-->
                    <!--<div class="subboxs_content_details">-->
                        <!--（4）在的狸甄品与您的买卖合同成立之前，您与的狸甄品均有权取消相关商品的订单，订单取消后，您已支付的款项将退回您的付款账户。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.2.3 </span>-->
                        <!--的狸甄品将尽量满足您的购物需求，避免您选购的商品无货，但是由于技术障碍以及各类商品难以控制和避免的因素，的狸甄品无法保证符合您提交的订单中所有要求的商品都有货；如您订购的商品无货，的狸甄品将及时与您联系，您有权取消订单。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.2.4 </span>的狸甄品将会把商品通过物流公司送到您所指定的收货地址（收货地址在配送范围外的除外），请您在收货前验视所送货物，当您或您指定的收货人、代理人在配送单或其他凭证上签字，即视为您完成收货，并认可收货商品。您必须准确地填写自己的真实姓名、送货地址及联系方式。因如下情况造成订单延迟或无法配送等，的狸甄品不会承担迟延配送的责任，并保留单方取消订单的权利：-->
                    <!--</div>-->
                    <!--<div class="subboxs_content_details">-->
                        <!--（1）您提供的送货地址、联系方式等信息错误或不够详细；-->
                    <!--</div>-->
                    <!--<div class="subboxs_content_details">-->
                        <!--（2）货物送达无人签收；-->
                    <!--</div>-->
                    <!--<div class="subboxs_content_details">-->
                        <!--（3）情势变更因素；-->
                    <!--</div>-->
                    <!--<div class="subboxs_content_details">-->
                        <!--（4）不可抗力，例如：自然灾害、交通戒严、罢工、骚乱、政府行为、突发战争等。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.2.5 </span>-->
                        <!--所有在的狸甄品网站上列出的预计送货时间、安装时间均为参考时间，参考时间的计算是根据库存状况、正常的处理过程和送货时间、送货地点、安装工作量等因素的基础上估计得出的；参考时间不属于承诺到货时间，也不等于实际到货或完成安装时间。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.2.6 </span>-->
                        <!--用户应当仔细阅读消费订单页面中所包含的全部内容，包括但不限于消费信息中的全部内容、为再次提示用户注意而标明的本单商品/服务的退款条件等内容（如有），选择及确认购买数量、价格、应付总额、用户接收电子消费凭证的联系方式或接收货物的收货地址和送货时间等内容。-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">3.3 退款规则</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.3.1 </span>-->
                        <!--发生以下情形之一的，用户有权要求的狸甄品进行退款：-->
                    <!--</div>-->
                    <!--<div class="subboxs_content_details">-->
                        <!--（1）用户付款成功后，因不可抗力或的狸甄品原因，导致的狸甄品无法向用户提供商品/服务的；-->
                    <!--</div>-->
                    <!--<div class="subboxs_content_details">-->
                        <!--（2）用户付款成功后，因确属情况变化导致的狸甄品需要变更消费合同内容，用户不接受变更后内容的。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.3.2 </span>-->
                        <!--用户已实际接受或使用商品/服务的，无权要求的狸甄品进行退款。但商品/服务与消费合同约定内容严重不符、存在其他严重质量问题或违反《中华人民共和国食品卫生法》、《餐饮业食品卫生管理办法》、《中华人民共和国消费者权益保护法》的除外。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.3.3 </span>-->
                        <!--退货流程为“确认收货-申请退货-客服审核通过-顾客寄回商品-仓库签收验货-退款审核-退款完成”。退款直接退回至用户的支付账户，不同银行或第三方支付机构处理时间不同，的狸甄品将于1-5个工作日内将款项按照用户的支付路径原路退回至用户的支付账户。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.3.4 </span>-->
                        <!--因的狸甄品产生的退货，如质量问题等，退货邮费由的狸甄品承担，退款完成后邮费会返还至钱包账户。因客户个人原因产生的退货，购买和寄回运费由客户自行承担。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.3.5 </span>-->
                        <!--其他情形下的退款按照消费合同内容约定的退款条件及退款方式进行。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.3.6 </span>-->
                        <!--在退款进行过程中，用户应当遵守的狸甄品关于退款的服务条款和操作规则的规定。-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">3.4 特殊不支持退款的商品或服务</div>-->
                <!--<div class="items_content">-->
                    <!--除特殊约定的商品或服务外，均支持使用前随时退款，敬请安心。唯下列特殊约定的商品或服务，恳请您下单前留意其合同条款的限制条件：-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.4.1 </span>-->
                        <!--商品品为定制化商品，由的狸甄品接单后主动进行制作或委托第三方制造；除商品本身质量问题外，一经确认订单并付款完毕，则代表您已知晓以上范围等限制，恕不接受退货、退款的申请。提请您下单前务必留意此产品的免除或限制责任的条款说明。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.4.2 </span>-->
                        <!--商品为限定日期、时间段之定制化活动、课程或服务，您所支付之费用为该项产品的席位保证金（定金），可于前述指定之日期、时间段全额抵用消费并确保席位。除主办方或的狸甄品通知取消、延期或无法提供服务外，恕不接受退款亦无法延期使用。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.4.3 </span>-->
                        <!--商品类别为消费者权益保护法第二十五条除外的无理由退货商品类：消费者定作的（如：定制品等）；鲜活易腐的（如：糕点、食品饮料、鲜花水果、盆栽等物品）；在线下载或者消费者拆封的音像制品、计算机软件等数字化商品（如：CD/DVD-->
                        <!--等）；交付的报纸、期刊；除前款所列商品外，其他根据商品性质并经消费者在购买时确认不宜退货的商品（如：个人私密用品、贴身衣物、性质特殊不适宜多次运输的商品等）。除商品本身质量问题外，一经确认订单并付款完毕，则代表您已知晓以上使用期限范围等限制，恕不接受退货、退款的申请。提请您下单前务必留意此类产品的免除或限制责任的条款说明。-->

                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.4.4 </span>-->
                        <!--内衣等特殊商品无质量问题不支持退货，拆包商品造成无法再销售的不支持退货。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>3.4.4 </span>-->
                        <!--内衣等特殊商品无质量问题不支持退货，拆包商品造成无法再销售的不支持退货。-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">3.5商品差异化</div>-->
                <!--<div class="items_content">-->
                    <!--我们竭尽所能在的狸甄品客户端或网站上展示出商品真实准确的颜色及外观。不过由于电脑显示器、平板电脑和移动设备之间的差异，我们无法保证您使用的显示器呈现出完全准确的视觉效果。-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="list_group">-->
            <!--<div class="group_title">四、消费争议解决规则</div>-->
            <!--<div class="group_desc">-->
                <!--如用户与商家因消费合同的履行发生任何争议，包括但不限于对商品/服务的数量、质量、价格、有效期、预约时间、商家地址、配送方式、退换货方式、退款条件、售后服务等问题发生争议的，用户应与商家根据消费合同内容的约定确定用户与商家各自的权利义务，承担各自的责任，解决争议。-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="list_group">-->
            <!--<div class="group_title">五、用户的权利和义务</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">5.1</div>-->
                <!--<div class="items_content">-->
                    <!--用户有权按照本协议约定接受的狸甄品提供的的狸甄品网络交易平台服务。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">5.2</div>-->
                <!--<div class="items_content">-->
                    <!--用户有权在注册时选择是否订阅的狸甄品发送的关于消费信息的电子邮件或短消息，并在注册成功后有权随时订阅或退订的狸甄品该等信息。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">5.3</div>-->
                <!--<div class="items_content">-->
                    <!--如用户要求获得商品/服务的发票、其他付款凭证、购货凭证或服务单据，有权且应当在对商品/服务进行消费时提出，发票金额以实际支付的消费价款为准。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">5.4</div>-->
                <!--<div class="items_content">-->
                    <!--用户在的狸甄品进行在线交易时不得恶意干扰消费的正常进行、破坏的狸甄品消费秩序。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">5.5</div>-->
                <!--<div class="items_content">-->
                    <!--用户不得以任何技术手段或其他方式干扰的狸甄品的正常运行或干扰其他用户对的狸甄品服务的使用。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">5.6</div>-->
                <!--<div class="items_content">-->
                    <!--用户不得以虚构事实等方式恶意诋毁的狸甄品的商誉，用户不得对商品/服务进行虚假评价或虚假投诉。-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="list_group">-->
            <!--<div class="group_title">六、 的狸甄品的权利和义务</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">6.1-->
                <!--</div>-->
                <!--<div class="items_content">-->
                    <!--如用户不具备本协议约定的注册资格，则的狸甄品有权拒绝用户进行注册，对已注册的用户有权注销其的狸甄品会员账号，的狸甄品因此而遭受损失的有权向前述用户或其法定代理人主张赔偿。同时，的狸甄品保留其他任何情况下决定是否接受用户注册的权利。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">6.2-->
                <!--</div>-->
                <!--<div class="items_content">-->
                    <!--的狸甄品发现账户使用者并非账户初始注册人时，有权中止该账户的使用。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">6.3</div>-->
                <!--<div class="items_content">-->
                    <!--的狸甄品通过技术检测、人工抽检等检测方式合理怀疑用户提供的信息错误、不实、失效或不完整时，有权通知用户更正、更新信息或中止、终止为其提供的狸甄品服务。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">6.4</div>-->
                <!--<div class="items_content">-->
                    <!--的狸甄品有权在发现的狸甄品上显示的任何信息存在明显错误时，对信息予以更正。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">6.5</div>-->
                <!--<div class="items_content">-->
                    <!--的狸甄品保留随时修改、中止或终止的狸甄品服务的权利， 的狸甄品行使修改或中止服务的权利不需事先告知用户，的狸甄品终止其一项或多项服务的，终止自的狸甄品在网站上发布终止公告之日生效。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">6.6</div>-->
                <!--<div class="items_content">-->
                    <!--的狸甄品应当采取必要的技术手段和管理措施保障的狸甄品的正常运行，并提供必要、可靠的交易环境和交易服务，维护在线交易秩序。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">6.7</div>-->
                <!--<div class="items_content">-->
                    <!--如用户连续一年未使用的狸甄品会员账号和密码登录的狸甄品 ，则的狸甄品有权注销用户的的狸甄品账号。账号注销后，的狸甄品有权将相应的会员账号开放给其他用户注册使用。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">6.8</div>-->
                <!--<div class="items_content">-->
                    <!--的狸甄品有权在本协议履行期间及本协议终止后保留用户的注册信息及用户应用的狸甄品服务期间的全部交易信息，但不得非法使用该等信息。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">6.9</div>-->
                <!--<div class="items_content">-->
                    <!--的狸甄品有权随时删除的狸甄品网站内各类不符合国家法律法规、规范性文件或的狸甄品网站规定的用户评价等内容信息， 的狸甄品行使该等权利不需提前通知用户。-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="list_group">-->
            <!--<div class="group_title">七、用户信息</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">7.1</div>-->
                <!--<div class="items_content">-->
                    <!--在遵守法律的前提下，为向用户提供优质、便捷的服务，当用户注册的狸甄品账户时，或访问的狸甄品及其相关网站、的狸甄品移动设备客户端时，或使用的狸甄品提供的服务时，的狸甄品可能会记录用户操作的相关信息或采集用户的以下信息：-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>7.1.1 </span>-->
                        <!--在用注册的狸甄品账户及使用的狸甄品提供的各项服务时，为识别用户的身份，可能要向的狸甄品提供一些个人信息（包括但不限于姓名、身份证明、地址、电话号码、电子邮件地址等信息及相关附加信息（如您所在的省份和城市、邮政编码等）。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>7.1.2 </span>-->
                        <!--如用户使用的的狸甄品服务需与用户的银行账户或其他支付工具的账户关联方能实现时，用户需要向的狸甄品提供用户的银行账户信息或其他支付工具的账户信息。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>7.1.3 </span>-->
                        <!--为便于用户查询自己的交易状态或历史记录，的狸甄品会保存用户使用的狸甄品服务产生的交易信息。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>7.1.4 </span>-->
                        <!--为更好地识别用户的身份以充分保护用户的账户安全，当用户访问的狸甄品站及其相关网站、的狸甄品移动设备客户端时，或使用的狸甄品提供的服务时，的狸甄品可能会记录用户操作的相关信息，包括但不限于用户的计算机IP地址、设备标识符、硬件型号、操作系统版本、用户的位置以及与的狸甄品服务相关的日志信息。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>7.1.5 </span>-->
                        <!--除上述信息外，的狸甄品还可能为了提供服务及改进服务质量的合理需要而收集用户的其他信息，包括用户与的狸甄品的客户服务团队联系时用户提供的相关信息，用户参与问卷调查时向的狸甄品发送的问卷答复信息，以及用户与的狸甄品及的狸甄品关联公司互动时的狸甄品收集的相关信息。与此同时，为提高用户使用的狸甄品提供的服务的安全性，更准确地预防钓鱼网站欺诈和木马病毒，的狸甄品可能会通过了解一些用户的网络使用习惯、用户常用的软件信息等手段来判断用户账户的风险，并可能会记录一些的狸甄品认为有风险的URL。-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">7.2</div>-->
                <!--<div class="items_content">-->
                    <!--为保障用户的信息安全，的狸甄品一直并将继续努力采取各种合理的物理、电子和管理方面的安全措施来保护用户信息，使用户的信息不会被泄漏、毁损或者丢失，包括但不限于信息加密存储、数据中心的访问控制。的狸甄品对可能接触到用户的信息的员工或外包人员也采取了严格管理，包括但不限于根据岗位的不同设置不同的权限，与员工签署保密协议等措施。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">7.3</div>-->
                <!--<div class="items_content">-->
                    <!--在遵守法律的前提下，为向用户提供服务及提升服务质量，的狸甄品会把用户的信息用于下列用途：-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>7.3.1 </span>-->
                        <!--向用户提供的狸甄品的各项服务及客户服务，并维护、改进这些服务。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>7.3.2 </span>-->
                        <!--比较信息的准确性，并与第三方进行验证。例如，将用户向的狸甄品提交的身份信息与身份验证的服务机构进行验证。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>7.3.3 </span>-->
                        <!--为使用户知晓自己使用的狸甄品服务的情况或了解的狸甄品的服务，向用户发送服务状态的通知、营销活动及其他商业性电子信息。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>7.3.4 </span>-->
                        <!--对的狸甄品用户的身份数据、交易信息等进行综合统计、分析或加工，并出于消费、奖励或为了让用户拥有更广泛的社交圈的需要而使用、共享或披露；例如的狸甄品可能会统计某个时间段注册的狸甄品账户的新用户，对这些新用户提供专享的优惠活动。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>7.3.5 </span>-->
                        <!--预防或禁止非法的活动。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>7.3.6 </span>-->
                        <!--经用户许可的其他用途。-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">7.4</div>-->
                <!--<div class="items_content">-->
                    <!--Cookie的使用-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>7.4.1 </span>-->
                        <!--为使用户获得更轻松的访问体验，用户访问的狸甄品网站或使用的狸甄品提供的服务时，的狸甄品可能会通过小型数据文件识别用户的身份，帮用户省去重复输入注册信息的步骤，或者帮助判断用户的账户安全。这些数据文件可能是Cookie，Flash-->
                        <!--Cookie，或用户的浏览器或关联应用程序提供的其他本地存储（统称“Cookie”）。-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="subboxs">-->
                    <!--<div class="subboxs_content">-->
                        <!--<span>7.4.2 </span>-->
                        <!--请用户理解，的狸甄品的某些服务只能通过使用“Cookie”才可得到实现。如果用户的浏览器或浏览器附加服务允许，用户可以修改对Cookie的接受程度或者拒绝的狸甄品的Cookie，但这一举动在某些情况下可能会影响用户安全访问的狸甄品网站和使用的狸甄品提供的服务。-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="list_group">-->
            <!--<div class="group_title">八、变更及免责条款</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">8.1</div>-->
                <!--<div class="items_content">-->
                    <!--对于您在的狸甄品客户端在线购买的产品，因不可抗力或商户原因造成产品交付时间延误的（“不可抗力”指不可预见、不可避免和不可克服的客观情况，包括但不限于政府行为、邮政主管部门政策变化、战争、地震、台风、洪水、火灾等其他类似事件），的狸甄品及其关联方不承担任何赔偿责任。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">8.2</div>-->
                <!--<div class="items_content">-->
                    <!--的狸甄品将严格按照商品实际情况描述其品牌、产地、规格、包装及贮存方式。用户无客观依据，仅凭主观感受认定产品描述与实际不符的，的狸甄品及其关联方不承担任何赔偿责任。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">8.3</div>-->
                <!--<div class="items_content">-->
                    <!--您应自行负责妥善且正确地保管、使用、维护在的狸甄品申请取得的账户及账户密码。您应对账户密码采取必要和有效的保密措施，包括但不限于对您所持有的移动设备进行密码或指纹验证设置。非的狸甄品原因致使您账户密码泄漏以及因您保管、使用、维护不当造成损失的，的狸甄品无须承担与此有关的任何责任。-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">8.4</div>-->
                <!--<div class="items_content">-->
                    <!--由于您将个人密码告知他人或与他人共享注册帐户而导致的任何个人资料泄露，的狸甄品不负任何责任。您须对自身在使用的狸甄品所提供的服务时的一切行为、行动（不论是否故意）负全部责任。-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">8.5</div>-->
                <!--<div class="items_content">-->
                    <!--您明确了解并同意，本协议约定的付款方式为通过第三方支付平台付款的方式，您通过此种支付方式付款可能存在一定的商业风险（包括但不限于不法分子利用您账户或银行卡等有价卡等进行违法活动），该等风险均会给您造成相应的经济损失。为此，您同意的狸甄品在充分履行其在本协议项下全部义务及勤勉谨慎义务的前提下不对您的前述风险和损失承担任何责任；并且，的狸甄品不承担向不法分子追究侵权责任或者代其向您承担损失的任何责任和义务。-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">8.6</div>-->
                <!--<div class="items_content">-->
                    <!--鉴于网络服务的特殊性，您同意的狸甄品有权随时变更、中断或终止部分或全部的网络服务。的狸甄品保留随时修改或中断服务而不需通知您的权利，对于所有服务的中断或终止而造成的您的任何损失，的狸甄品及其关联方不承担任何赔偿责任。-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">8.7</div>-->
                <!--<div class="items_content">-->
                    <!--对于因服务器的死机、网络故障、数据库故障、软件升级、服务器维修、调整、升级等问题，或其他不可抗力（包括但不限于政府行为、自然灾害、黑客攻击等）造成的服务中断和对您个人数据及资料造成的损失，的狸甄品及其关联方不承担任何赔偿责任。-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">8.8</div>-->
                <!--<div class="items_content">-->
                    <!--您充分理解并完全接受：如果的狸甄品因为违反本协议或者本协议部分条款无效，导致的狸甄品不得不向您进行赔偿的，赔偿的最高金额仅以您使用的狸甄品的服务时所支付的对价金额为限，上述对价不包括您从的狸甄品购买商品或者服务所支付的价款。-->
                <!--</div>-->

            <!--</div>-->

        <!--</div>-->
        <!--<div class="list_group">-->
            <!--<div class="group_title">九、知识产权</div>-->
            <!--<div class="group_desc">-->
                <!--本客户端一切图片、文字或照片，都属于的狸甄品或关联企业，或授权的狸甄品使用的公司、团体的知识产权（包含著作权与工业产权下之专利权与商标权），都在国家相关法令的保障之下。非经特别标示或正式书面授权，否则您将被禁止作出任何使用，包括但不限于修改、复制、改编、翻译、汇编、展览、发行、发表、信息网络传播等盈利或非盈利用途。-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">9.1</div>-->
                <!--<div class="items_content">-->
                    <!--的狸甄品所包含的全部智力成果包括但不限于数据库、网站设计、文字和图表、软件、照片、录像、音乐、声音及其前述组合，软件编译、相关源代码和软件（包括小应用程序和脚本）的知识产权权利均归的狸甄品所有。用户不得为商业目的复制、更改、拷贝、发送或使用前述任何材料或内容。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">9.2</div>-->
                <!--<div class="items_content">-->
                    <!--的狸甄品名称中包含的所有权利（包括商誉和商标）均归的狸甄品所有。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">9.3</div>-->
                <!--<div class="items_content">-->
                    <!--用户接受本协议即视为用户主动将其在的狸甄品发表的任何形式的信息的著作权，包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利无偿独家转让给的狸甄品所有，的狸甄品有权利就任何主体侵权单独提起诉讼并获得全部赔偿。本协议属于《中华人民共和国著作权法》第二十五条规定的书面协议，其效力及于用户的狸甄品发布的任何受著作权法保护的作品内容，无论该内容形成于本协议签订前还是本协议签订后。-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">9.4</div>-->
                <!--<div class="items_content">-->
                    <!--用户在使用的狸甄品服务过程中不得非法使用或处分的狸甄品或他人的知识产权权利。用户不得将已发表于的狸甄品的信息以任何形式发布或授权其它网站（及媒体）使用。-->
                <!--</div>-->

            <!--</div>-->

        <!--</div>-->
        <!--<div class="list_group">-->
            <!--<div class="group_title">十、客户服务</div>-->
            <!--<div class="group_desc">-->
                <!--的狸甄品建立专业的客服团队，并建立完善的客户服务制度，从技术、人员和制度上保障用户提问及投诉渠道的畅通，为用户提供及时的疑难解答与投诉反馈。-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="list_group">-->
            <!--<div class="group_title">十一、协议的变更和终止</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">11.1 协议的变更</div>-->
                <!--<div class="items_content">-->
                    <!--的狸甄品有权随时对本协议内容或的狸甄品发布的其他服务条款及操作规则的内容进行变更，变更时的狸甄品将在的狸甄品站内或客户端显著位置发布公告，变更自公告发布之时生效，恕不另行通知。如用户继续使用的狸甄品提供的服务即视为用户同意该等内容变更，如用户不同意变更后的内容则用户有权注销的狸甄品-->
                    <!--账户、停止使用的狸甄品服务。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">11.2 协议的终止</div>-->
                <!--<div class="items_content">-->
                    <!--的狸甄品有权依据本协议约定注销用户的的狸甄品账号，本协议于账号注销之日终止。的狸甄品有权依据本协议约定终止全部的狸甄品服务，本协议于的狸甄品全部服务终止之日终止。本协议终止后，用户无权要求的狸甄品继续向其提供任何服务或履行任何其他义务，包括但不限于要求的狸甄品为用户保留或向用户披露其原的狸甄品账号中的任何信息，向用户或第三方转发任何其未曾阅读或发送过的信息等。本协议的终止不影响守约方向违约方追究违约责任。-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="list_group">-->
            <!--<div class="group_title">十二、违约责任</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">12.1</div>-->
                <!--<div class="items_content">-->
                    <!--的狸甄品或用户违反本协议的约定即构成违约，违约方应当向守约方承担违约责任。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">12.2</div>-->
                <!--<div class="items_content">-->
                    <!--如用户违反本协议约定，以转售等商业目的进行在线交易，则的狸甄品有权代商家取消相关在线交易，并有权注销其的狸甄品账号，终止为其提供的狸甄品服务，如的狸甄品因此而遭受损失的，有权要求用户赔偿损失。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">12.3</div>-->
                <!--<div class="items_content">-->
                    <!--如因用户提供的信息不真实、不完整或不准确给的狸甄品或商家造成损失的， 的狸甄品有权要求用户对的狸甄品进行损失的赔偿。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">12.4</div>-->
                <!--<div class="items_content">-->
                    <!--如因用户违反法律法规规定或本协议约定，在的狸甄品或利用的狸甄品服务从事非法活动的，的狸甄品有权立即终止继续对其提供的狸甄品服务，注销其账号，并要求其赔偿由此给的狸甄品造成的损失。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">12.5</div>-->
                <!--<div class="items_content">-->
                    <!--如用户以技术手段干扰的狸甄品的运行或干扰其他用户对的狸甄品使用的， 的狸甄品有权立即注销其的狸甄品账号，并有权要求其赔偿由此给的狸甄品造成的损失。-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="itemsbox">-->
                <!--<div class="sub_title">12.6</div>-->
                <!--<div class="items_content">-->
                    <!--如用户以虚构事实等方式恶意诋毁的狸甄品或商家的商誉，的狸甄品有权要求用户向的狸甄品公开道歉，赔偿其给的狸甄品造成的损失，并有权终止对其提供的狸甄品服务。-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="list_group">-->
            <!--<div class="group_title">十三、争议解决</div>-->
            <!--<div class="group_desc">-->
                <!--就任何与本协议有关的争端，的狸甄品将尽量与您通过友好协商解决。若协商未能达成双方均满意的解决方法，则在争端出现后的三十（30）天内，双方均有权按照中华人民共和国有关法律向上海市崇明区人民法院提起诉讼。-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="list_group">-->
            <!--<div class="group_title">十四、协议生效</div>-->
            <!--<div class="group_desc">-->
                <!--本协议于用户点击的狸甄品注册页面的同意注册并完成注册程序、获得的狸甄品账号时生效，对的狸甄品和用户均具有约束力。-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="protocol_data">本协议于2017年3月1日发布</div>-->
    <!--<div class="protocol_owner">上海的狸网络科技有限公司</div>-->
</div>
</body>
<script src="../../js/fontSize.js"></script>

</html>