<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>登录页面</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/dili_style.css">

</head>
<body>
<div class="container_wrapper author_bd">
    <!--logo-->
    <div class="author_hd">
        <img src="../../images/logo.png" alt="dili_logo">
    </div>
    <!--登录表单-->
    <div class="author_form">
        <form class="login_form" action="">
            <div class="inputbox font_fy ">
                <input type="text" placeholder="手机号">
            </div>
            <div class="inputbox font_fy ">
                <input type="password" placeholder="登录密码">
            </div>
            <input class="author_btn orange_btn font_fy" type="submit" value="登录">
        </form>
        <div class="forget_psw other_choices font_fy">
            <a class="" href="#">
                <div class="forget choice ">忘记密码</div>
                <div class="arrow_right"> ></div>
            </a>
        </div>
        <!--微信登陆-->
        <!--<div class="wx_login d">-->
            <!--<a class="d" href="#"></a>-->
        <!--</div>-->
    </div>
</div>
</body>
<script src="../../js/fontSize.js"></script>
</html>