<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>注册界面</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/dili_style.css">
</head>
<body>
<div class="container_wrapper register author_bd">
    <!--logo-->
    <div class="author_hd">
        <img src="../../images/logo.png" alt="dili_logo">
    </div>
    <!--注册表单-->
    <div class="author_form">
        <form class="register_form" action="">
            <div class="inputbox ">
                <input type="text" placeholder="手机号">
            </div>
            <div class="inputbox yzm ">
                <input type="text" placeholder="验证码">
                <div class="get_code dark_gray font_fy">点击获取</div>
            </div>
            <div class="confirm_protocol font_fy ">
                <div class="light_black">验证码点击登录，即表示您同意 <a class="orange_font" href="#">《服务协议》</a> </div>
            </div>
            <input class="author_btn orange_btn" type="submit" value="登录">
        </form>
        <div class="registered_login other_choices font_fy">
            <a class="" href="#">
                <div class="login choice ">账号登录</div>
                <div class="arrow_right"> ></div>
            </a>
        </div>
        <!--微信登陆-->
        <!--<div class="wx_login d">-->
        <!--<a class="d" href="#"></a>-->
        <!--</div>-->
    </div>
</div>
</body>
<script src="../../js/fontSize.js"></script>
</html>